.alive {
      font: 500 3rem/1.2 'Segoe UI', Roboto, system-ui, sans-serif;
      font-size: 18px;
      color: #10b981; /* emerald green */
      /* text-transform: uppercase; */
      /* text-shadow:
        0 0 6px #10b981,
        0 0 12px #34d399,
        0 0 24px #6ee7b7; */
      animation: pulseGlow 1s ease-in-out infinite;
      will-change: transform, text-shadow;
    }

    @keyframes pulseGlow {
      0%, 100% {
        transform: scale(1);
        text-shadow:
          0 0 6px #ef1515,
          0 0 10px #d65a44,
          0 0 24px #e7a06e;
      }
      50% {
        transform: scale(1.08);
        text-shadow:
          0 0 12px #10b981,
          0 0 24px #34d399,
          0 0 40px #6ee7b7;
      }
   
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
      
    }
