
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0b0c2a] text-white overflow-hidden;
}
/* Hide horizontal scrollbar across all browsers */
.hide-scrollbar {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
